
<div  class="flex-container  with-margin-top">
  <div _ngcontent-lye-c6="" style=" display: flex;
  flex-direction: row;
flex-wrap: wrap">
    <div _ngcontent-lye-c6="">
      <h2 _ngcontent-lye-c6="" style="margin-top: 15%; color: #d25f29"> 2- Select the page</h2>
    </div>
    <div _ngcontent-lye-c6="" style="/* flex-grow: 8 */margin-left: auto;">
      <nav _ngcontent-lye-c6="" style="width: inherit;min-width: 500px;">
        <ol _ngcontent-lye-c6="" class="cd-multi-steps text-bottom count">
          <li _ngcontent-lye-c6="" class="visited"><a _ngcontent-lye-c6="" href="#0">Upload file(s)</a></li>
          <li _ngcontent-lye-c6="" class="current"><em _ngcontent-lye-c6="" href="#0">Select page</em></li>
          <li _ngcontent-lye-c6="" class=""><em _ngcontent-lye-c6="">Customize anonymization</em></li>
          <li _ngcontent-lye-c6=""><em _ngcontent-lye-c6="">Download file</em></li>
        </ol>
      </nav>
    </div>
  </div>

  <div _ngcontent-boj-c4="" class="col-md-12" style="border-bottom:3px  solid #d26029; margin-bottom: 10px "></div>


  <div>
<mat-card>

<section>
<!--      <form [formGroup]="data" (ngSubmit)="onSubmit(data.value)">-->


<!--      <div>-->
<!--      <label for="page">-->
<!--        Page-->
<!--      </label>-->
<!--      <input id="page" type="number" formControlName="page">-->
<!--    </div>-->


<form [formGroup]="data" >
  <h6 style="padding-bottom: 1em"> If your file contains several pages, select the one where you want to select the areas that should be anonymized:</h6>
  <mat-form-field>
    <input type="number"  matInput value="1" min="1" max="10" required placeholder="Page Number" formControlName="page" id="pages"  class="example-right-align">
  </mat-form-field>
  <h6><small>The files are only used to perform the automatic process of anonymisation. The original documents are immediately deleted when the anonymisation process is finished. The anonymized documents are available for download until you close the web page.</small></h6>
</form>
</section>
</mat-card>
 </div>
<div class="flex-container2">
  <div style="margin-right: 10px">
  <button    matTooltip="Go back to choose the file" mat-raised-button class="buttonStyle"  type="button" (click)="goback()"  style=" font-size: 2rem; width: 200px;   font-family: Roboto, Helvetica Neue, sans-serif ;"  >Back</button>
  </div>
  <div style="margin-left: 10px">
    <!--          <button   class="btn btn-primary"  [disabled]="1" type="button" >Back</button>-->
    <button   matTooltip="Let's fire the magic"  mat-raised-button  class="buttonStyle"  type="submit" (click)="onSubmit(data.value)"  style=" width: 200px; font-size: 2rem;   font-family: Roboto, Helvetica Neue, sans-serif ;"  >Next</button>
  </div>
</div>


</div>
