<section style="padding: unset">
  <mat-toolbar class="mat-elevation-z5" >
    <img src="../assets/img/logo.jpg" (click)="gohome()" style="width: 65px; margin-right: 5px">
    <button mat-icon-button (click)="gohome()" style="color: #ffffff ; font-size: 18px;    font-family:Roboto, Helvetica Neue, sans-serif;
 ">    <strong style="font-weight: 700">PDF</strong> Anonymization
    </button>


    <span class="spacer"></span>
    <div style="z-index: 3">
      <button  mat-icon-button matTooltip="Help" (click)="openDialog()">
        <img id="logoprinc" src="../assets/img/information.svg" style="width: 38px ; ">

<!--        <i class="fas fa-question-circle"></i>-->
      </button>
      <span class="spacer3"></span>
      <button  mat-icon-button matTooltip="translate" hidden [matMenuTriggerFor]="menu" >
        <img id="logolanguage" src="../assets/img/translate.svg" style="width: 38px ; ">
        <!--        <i class="fas fa-question-circle"></i>-->
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>FR</button>
        <button mat-menu-item>ENG</button>
      </mat-menu>
      <span id="spacer2" class="spacer2"></span>


<!--      <button mat-button>-->
<!--        <h5 style="font-size: 20px; font-family: fantasy">Login</h5>-->
<!--      </button>-->
    </div>
  </mat-toolbar>

<!--  <header class="cd-header container flex justify-between items-center">-->
<!--    <a href="#0" class="cd-logo">-->
<!--      <svg width="124" height="23" viewBox="0 0 124 23"><title>Go to homepage</title><rect width="70" height="23" fill="#c96aa4"/><rect x="70" width="27" height="23" fill="#9a57bd"/><rect x="97" width="27" height="23" fill="#fff"/></svg>-->
<!--    </a>-->

<!--    <a href="#cd-3d-nav" class="cd-header__nav-trigger" aria-label="Toggle menu">-->
<!--      <span aria-hidden="true"></span>-->
<!--    </a>-->
<!--  </header>-->



  <div class="container" id="main" style="  font-family: Roboto, Helvetica Neue, sans-serif">



        <router-outlet></router-outlet>

        ​

  </div>




</section>
