<section>
  <h2> 2- select the area, and select the method </h2>

  <nav>
    <ol class="cd-multi-steps text-bottom count">
      <li class="visited"><a href="main">Upload</a></li>
      <li class="visited" ><em href="#0">Page</em></li>
      <li class="current"><em>Anonymization</em></li>
      <li><em>Review</em></li>
    </ol>
  </nav>
</section>
<mat-card class="example-card">
  <div class="box">
    <mat-card-actions>
<!--      <button mat-raised-button id="anonymize" (click)="anonymize3()"> </button>-->
<!--      <button mat-raised-button id="anonymize2" (click)="anonymize2()"></button>-->
      Anonimize with mark-page <mat-slide-toggle  #toggle></mat-slide-toggle>Anonymize with OCR
<!--      <button mat-raised-button  id="home" (click)="goback()">select another file</button>-->
      <button mat-raised-button  id="launch" [disabled]="toggle.checked"><a   (click)="generate(toggle)" >Preview</a></button>
<!--      <button mat-raised-button  id="download" ><a target="_blank"  href="http://172.16.4.52:8080/anonym/{{path}}">finalize anonymisation</a></button>-->
      <button mat-raised-button  id="review" [disabled]="toggle.checked"><a (click)="review(toggle)" >finalize anonymisation</a></button>

<!--<a class="btn btn-primary" data-target="#modalIMG" data-toggle="modal" >View Image</a>-->
<!--      <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">-->
<!--        <div class="modal-dialog modal-lg" role="document">-->
<!--          <div class="modal-content">-->
<!--            <div class="modal-body mb-0 p-0">-->
<!--              <img src="https://i3.ytimg.com/vi/vr0qNXmkUJ8/maxresdefault.jpg" alt="" style="width:100%">-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--              <div><a href="https://i3.ytimg.com/vi/vr0qNXmkUJ8/maxresdefault.jpg" target="_blank">Download</a></div>-->
<!--              <button class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Close</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

    </mat-card-actions>

  </div>

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-subtitle>page N : {{page}}</mat-card-subtitle>
    <div class="col-md-5">
      <mat-label   *ngIf="!toggle.checked" style="margin-right: 10px">click here to choose the color</mat-label>
      <input [style.background]="color1" style="border: black solid" *ngIf="!toggle.checked" [(colorPicker)]="color1" (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" (colorPickerClose)="onEventLog('colorPickerClose', $event)" (cpInputChange)="onEventLog('cpInputChange', $event)" (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"/>
    </div>
  </mat-card-header>

<!--  <img id="image2"  mat-card-image src="http://localhost:8080/image/{{path}}/{{page}}" alt="Photo of the page N : {{page}}" >-->
    <!--  <img id="image" (mousemove)="show($event)" (mouseleave)="leave($event)" mat-card-image src="" >-->
  <div class="img-container">
    <img #image class="imaage"  src="environment.baseUrl/image/{{path}}/{{page}}" crossorigin>
  </div>
  <mat-card-content>
    <button id="addzone" mat-raised-button (click)="addzone()">Add the Selectedzone</button>
    <h6 style="font-family: fantasy; padding: 0.7em"> Preview of the current selection</h6>
    <img [src]="imageDestination" class="img-preview">

  </mat-card-content>
</mat-card>

