@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
.my-drop-zone {    border: dotted 3px #4b87e0; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }
.underline{
  text-decoration: underline;
}
.my-drop-zone{
  border: dotted 1px #959fa5;
  padding: 30px;
}
.text-center{
  color: #226899;
}

.nv-file-over {
  border: dotted 1px #959fa5;
}
.mat-card{
  background-color: transparent;
  box-shadow: none;
}



.nl-up-col {
  color: #43A047;
}
.nl-cl-col {
  color: #F9A825;
}
.nl-rm-col {
  color: #f4b975;
}
.nl-upAll-col {
  background-color: #7071a0; ;
  color: white;
}
.nl-clAll-col {
  background-color: #f9cca6; ;
}
.nl-rmAll-col {
  background-color: #f48f4d; ;
  color: white;
  margin-top: 10px;
}
.nl-rnd-border {
  border: dotted 1px #959fa5;
  padding: 10px;
}
.nl-btn-pad {
  padding-left: inherit;
  padding-top: 10px;

}
#uploadDocument {
  color: transparent;
}

.mat-card{
  max-width: 1100px;
}




.btn btn-primary{
  background-color: #1d2150;
}

.mat-progress-bar{
  height: 12px;
}
.flex-container {
  display: flex;
  flex-direction: column;
}

.well.my-drop-zone.text-center:hover{
  cursor: pointer;
}
.well.my-drop-zone.text-center{
  background-color: #959fa5;
}


.dragdrop:hover{
  background-color: #d25f29 !important;
}

.buttonattach :hover {
  background-color: #d25f29 !important;

}
