<!--<app-navbar> </app-navbar>-->
<div class="flex-container with-margin-top">
  <div _ngcontent-lye-c6="" style=" display: flex;
  flex-direction: row;
flex-wrap: wrap">
    <div _ngcontent-lye-c6="">
      <h2 _ngcontent-lye-c6="" style="margin-top: 15%; color: #d25f29"> 1- Upload the file(s) </h2>
    </div>
    <div _ngcontent-lye-c6="" style="/* flex-grow: 8 */margin-left: auto;">
      <nav _ngcontent-lye-c6="" style="width: inherit;min-width: 500px;">
    <ol _ngcontent-lye-c6="" class="cd-multi-steps text-bottom count">
      <li _ngcontent-lye-c6="" class="current"><em _ngcontent-lye-c6="" href="#0">Upload file(s)</em></li>
      <li _ngcontent-lye-c6="" class=""><em _ngcontent-lye-c6="" >Select page</em></li>
      <li _ngcontent-lye-c6="" class=""><em _ngcontent-lye-c6="">Define settings</em></li>
      <li _ngcontent-lye-c6=""><em _ngcontent-lye-c6="">Download file</em></li>
  </ol>
  </nav>
  </div>
  </div>
  <div _ngcontent-boj-c4="" class="col-md-12" style="border-bottom:3px  solid #d26029; margin-bottom: 10px "></div>

<div>
<mat-card-header>
  <mat-card-title><b>Start by uploading your file(s)</b></mat-card-title>

</mat-card-header>
<mat-card>

      <mat-card-content>
        <div fxLayout="row"  class="buttonattach" fxLayoutAlign="start center">
          <div fxFlex="30">

            <input #uploadDocument hidden type="file" name="filename" value="choooose" ng2FileSelect (onFileSelected)="onFileSelectedOrDropped($event)" [uploader]="uploader" multiple  />

          </div>
          <div fxFlex="70"   ng2FileDrop (click)="uploadDocument.click()" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)" (onFileDrop)="onFileSelectedOrDropped($event)"
               class="well my-drop-zone text-center"
               [uploader]="uploader">
            <button class="dragdrop" disableRipple type="button"  style="background-color: transparent"  mat-flat-button >
              <mat-icon style="margin-right: 5px" class="white-icon s-24">attach_file</mat-icon>Attach file / Drag & Drop here
            </button>          </div>
        </div>
        <p>Nombre de fichiers : {{uploader?.queue?.length}}</p>
        ​
        <div *ngIf="uploader.queue.length!==0">
          <table class="table">
            <thead>
            <tr>
              <th width="75%">Name</th>
              <th>Size</th>
              <!--<th>Progress</th>-->
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            ​
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <!-- !!!!!!!!!!do not delete this part of code, it is business improvement-->
              <!--<td *ngIf="uploader.options.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
              </td>-->
              <td class="text-center">
                <span *ngIf="item.isUploaded && item.isSuccess"><mat-icon class="nl-up-col">done</mat-icon></span>
                <span *ngIf="item.isUploaded && !item.isSuccess"><mat-icon class="nl-rm-col">cancel</mat-icon></span>
              </td>
              <td nowrap>
                <!-- !!!!!!!!do not delete this part of code, it is business improvement-->
                <!--<button mat-icon-button (click)="onUploadAll()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <mat-icon class="nl-up-col">cloud_upload</mat-icon>
                </button>
                <button mat-icon-button (click)="item.cancel()" [disabled]="!item.isUploading">
                    <mat-icon class="nl-cl-col">clear</mat-icon>
                </button>-->
                <button  mat-icon-button  (click)="[item.remove(),removeFile(item)]">
                  <mat-icon class="nl-rm-col">remove</mat-icon>
                </button>
              </td>
            </tr>
            </tbody>
            ​
          </table>
          ​
        </div>
        ​
        <div>
          <div class="nl-rnd-border">Progress:
            <br>
            <br>
            <mat-progress-bar  color="#5632c0" mode="determinate" [value]="uploader.progress"></mat-progress-bar>
          </div>
<!--          <div class="nl-btn-pad">-->
<!--            <button mat-flat-button   matTooltip="upload your file first" class="nl-upAll-col" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">-->
<!--              <mat-icon style="margin-right: 5px" class="white-icon s-24">cloud_upload</mat-icon>Upload all-->
<!--            </button>-->
<!--            &lt;!&ndash;<button mat-flat-button class="nl-clAll-col" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">-->
<!--                <mat-icon class="white-icon s-24">clear</mat-icon>Cancel all-->
<!--            </button>&ndash;&gt;-->
            <button   matTooltip="Remove all your files" mat-flat-button class="nl-rmAll-col" (click)="clearFileList()" [disabled]="!uploader.queue.length">
              <mat-icon class="white-icon s-24">remove</mat-icon>Remove all
            </button>
<!--          </div>-->

        </div>
      </mat-card-content>
</mat-card>
</div>
  <div style="  justify-content: center;">
    <!--          <button   class="btn btn-primary"  [disabled]="1" type="button" >Back</button>-->
    <h6 style="position: absolute;  right: 16%;     margin-left: 16%;" ><small>The files are only used to perform the automatic process of anonymisation. The original documents are immediately deleted when the anonymisation process is finished. The anonymized documents are available for download until you close the web page</small></h6>
    <button class="buttonStyle" matTooltip="next to select the page"  mat-raised-button [disabled]="!done|| !uploader.queue.length"  (click)="next()" style="border: #335599;    position: absolute;
    right: 16%; font-size: 2rem;  width: 200px; margin-top: 40px; font-family: Roboto, Helvetica Neue, sans-serif"  >Next</button>



  </div>

</div>
