@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
.my-drop-zone {    border: dotted 3px #4b87e0; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }
.underline{
  text-decoration: underline;
}
.my-drop-zone{
  border: dotted 1px #959fa5;
  padding: 30px;
}
.text-center{
  color: #226899;
}

.nv-file-over {
  border: dotted 3px red;
}
.mat-card{

}

.cd-breadcrumb li::after, .cd-multi-steps li::after {
  display: inline-block;
  content: '\00bb';
  margin: 0 .6em;
  color: #959fa5;
}

.cd-breadcrumb.triangle li::after,
.cd-breadcrumb.triangle li > *::after {
  /*
    li > *::after is the colored triangle after each item
    li::after is the white separator between two items
  */
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  content: '';
  height: 0;
  width: 0;
  /* 48px is the height of the <a> element */
  border: 24px solid transparent;
  border-right-width: 0;
  border-left-width: 20px;
}
.cd-breadcrumb.triangle li::after {
  /* this is the white separator between two items */
  z-index: 1;
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(4px);
  border-left-color: #ffffff;
  /* reset style */
  margin: 0;
}
.cd-breadcrumb.triangle li > *::after {
  /* this is the colored triangle after each element */
  z-index: 2;
  border-left-color: inherit;
}
.cd-breadcrumb.triangle li:last-of-type::after,
.cd-breadcrumb.triangle li:last-of-type > *::after {
  /* hide the triangle after the last step */
  display: none;
}


.nl-up-col {
  color: #43A047;
}
.nl-cl-col {
  color: #F9A825;
}
.nl-rm-col {
  color: #F44336;
}
.nl-upAll-col {
  background-color: #43A047; ;
}
.nl-clAll-col {
  background-color: #F9A825; ;
}
.nl-rmAll-col {
  background-color: #F44336; ;
}
.nl-rnd-border {
  border: dashed 1px #959fa5;

  padding: 10px;
}
.nl-btn-pad {
  padding-left: inherit;
  padding-top: 10px;

}
#uploadDocument {
  color: transparent;
}

.mat-card{
  max-width: 1100px;
}


.nl-rmAll-col{
  margin-left: 10px;
}

.btn btn-primary{

}
.mat-progress-bar{
  height: 12px;
}
