<!--<app-navbar> </app-navbar>-->

<section>
    <h2> 1- Upload the file(s) </h2>
  <nav>
    <ol class="cd-multi-steps text-bottom count">
      <li class="current"><a href="#0">Upload</a></li>
      <li class="" ><em href="#0">Page</em></li>
      <li class=""><em>Anonymization</em></li>
      <li><em>Review</em></li>
    </ol>
  </nav>
</section>

<mat-card-header>
  <mat-card-title><b>Start by Uploading your File(s)</b></mat-card-title>
  <div>
    <!--          <button   class="btn btn-primary"  [disabled]="1" type="button" >Back</button>-->
    <button   class="btn btn-primary"  [disabled]="!done" type="button" (click)="next()" style="border: #335599; font-size: 2rem; width: 200px; margin-left: 80%; font-family: Arial"  >Next</button>
  </div>
</mat-card-header>
<mat-card>

      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="30">
            <input id="uploadDocument" type="file" name="filename" ng2FileSelect (onFileSelected)="onFileSelectedOrDropped($event)" [uploader]="uploader" multiple  />

          </div>
          <div fxFlex="70"  ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)" (onFileDrop)="onFileSelectedOrDropped($event)"
               class="well my-drop-zone text-center"
               [uploader]="uploader">
            Drag & Drop
          </div>
        </div>
        <p>Nombre de fichiers : {{uploader?.queue?.length}}</p>
        ​
        <div *ngIf="uploader.queue.length!==0">
          <table class="table">
            <thead>
            <tr>
              <th width="75%">Name</th>
              <th>Size</th>
              <!--<th>Progress</th>-->
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            ​
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <!-- !!!!!!!!!!do not delete this part of code, it is business improvement-->
              <!--<td *ngIf="uploader.options.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
              </td>-->
              <td class="text-center">
                <span *ngIf="item.isUploaded && item.isSuccess"><mat-icon class="nl-up-col">done</mat-icon></span>
                <span *ngIf="item.isUploaded && !item.isSuccess"><mat-icon class="nl-rm-col">cancel</mat-icon></span>
              </td>
              <td nowrap>
                <!-- !!!!!!!!do not delete this part of code, it is business improvement-->
                <!--<button mat-icon-button (click)="onUploadAll()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <mat-icon class="nl-up-col">cloud_upload</mat-icon>
                </button>
                <button mat-icon-button (click)="item.cancel()" [disabled]="!item.isUploading">
                    <mat-icon class="nl-cl-col">clear</mat-icon>
                </button>-->
                <button  mat-icon-button (click)="[removeFile(item.file.rawFile), item.remove()]">
                  <mat-icon class="nl-rm-col">remove</mat-icon>
                </button>
              </td>
            </tr>
            </tbody>
            ​
          </table>
          ​
        </div>
        ​
        <div>
          <div class="nl-rnd-border">Progress:
            <mat-progress-bar color="warn" mode="determinate" [value]="uploader.progress"></mat-progress-bar>
          </div>
          <div class="nl-btn-pad">
            <button mat-flat-button class="nl-upAll-col" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <mat-icon class="white-icon s-24">cloud_upload</mat-icon>Upload all
            </button>
            <!--<button mat-flat-button class="nl-clAll-col" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <mat-icon class="white-icon s-24">clear</mat-icon>Cancel all
            </button>-->
            <button mat-flat-button class="nl-rmAll-col" (click)="clearFileList()" [disabled]="!uploader.queue.length">
              <mat-icon class="white-icon s-24">remove</mat-icon>Remove all
            </button>
          </div>
          ​
        </div>
      </mat-card-content>
</mat-card>

