/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */
@import "~cropperjs/dist/cropper.min.css";
@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "assets/css/reset.css";
@import "assets/css/style.css";


body {
  margin: 0;
  font-family: Roboto, Helvetica Neue, sans-serif ;
  background-color: rgba(205, 217, 237, 0.5215686274509804);
}

.wrapper {
  padding: 45px 40px 50px;
  max-width: 350px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 24px -2px rgba(18, 22, 33, 0.10196078431372549);
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.wrapper h2 {
  margin: 0;
  line-height: normal;
  padding: 0 0 20px;
  font-size: 18px;
  font-family: Roboto, Helvetica Neue, sans-serif ;
}

.rectangle {
  height: 1px;
  position: fixed;
  width: 1px;
  background-color: #555;
}

.file-upload {
  display: block;
  background-color: #e7ecf3;
  padding: 18px 0px;
  border-radius: 8px;
}

.file-upload button {
  background: #6314ef;
  padding: 9px 20px;
  color: white;
  border: none;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
}
mat-toolbar {
  overflow: hidden;
  width: 100%;
  min-width: 475px;
  padding: 10px 20px 10px 10px;
  font-size: 20px;
  position: relative;
  color: #FFF;
  z-index: 1;
}
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}
.spacer {
  flex: 1 1 auto;
}
.spacer2 {
padding: 0px;
}
.spacer3 {
  padding: 10px;
}
mat-toolbar:after {
  color: white;
  box-shadow: 5px 10px #888888;
  content: " ";
  position: absolute;
  display: block;
  width: 25%;
  min-width: 200px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background: #333;
  transform-origin: bottom left;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}
.mat-dialog-container{
  display: contents;
  background-color: #afbbc7;
}

.with-margin-top {
  margin-top: 64px !important;
}

*:focus {
  outline: 0 !important;
}

/*@font-face {*/
/*  font-family: Roboto, Helvetica Neue, sans-serif;*/
/*  src: url('assets/fonts/Roboto, Helvetica Neue, sans-serif_LT_Book.ttf') format("opentype");*/
/*}*/

* {
  font-family: Roboto, Helvetica Neue, sans-serif ;
}


.buttonStyle {
  color: white;
  background-color: #1d2150; ;
}
.color-picker{
  position: initial !important;
}
